高校招生智能问答系统-RAG实战.yml
app:
  description: 基于 RAG 架构的高校招生政策咨询 Agent，支持多路召回与数据预处理
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 高校招生智能问答系统-RAG实战
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.12@37699cc3d1ea9e006348a7273a514f3ddf60ffb0649dc735c594c8da6a80934b
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.4@3345b596ee5117d9304097feaee866f05ffaf0d76a790fb07acd8b99f6c87cb3
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/siliconflow:0.0.46@3e8e3320dd5569308c25e897d05237941dd5b67954303c063b1c7fdcea84fc0f
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1775552903531--1775553338715-target
      selected: false
      source: '1775552903531'
      sourceHandle: source
      target: '1775553338715'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: if-else
      id: 1775552324460-source-1775713981747-target
      selected: false
      source: '1775552324460'
      sourceHandle: source
      target: '1775713981747'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1775713981747-true-1775552903531-target
      selected: false
      source: '1775713981747'
      sourceHandle: 'true'
      target: '1775552903531'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1775713981747-false-1775714978667-target
      selected: false
      source: '1775713981747'
      sourceHandle: 'false'
      target: '1775714978667'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: 1775714978667-source-1775553338715-target
      selected: false
      source: '1775714978667'
      sourceHandle: source
      target: '1775553338715'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1775552155066-source-1775716421677-target
      selected: false
      source: '1775552155066'
      sourceHandle: source
      target: '1775716421677'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1775716421677-source-1775716629486-target
      selected: false
      source: '1775716421677'
      sourceHandle: source
      target: '1775716629486'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1775716629486-true-1775552324460-target
      selected: false
      source: '1775716629486'
      sourceHandle: 'true'
      target: '1775552324460'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1775716629486-false-1775717206735-target
      selected: false
      source: '1775716629486'
      sourceHandle: 'false'
      target: '1775717206735'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1775717206735-source-1775553338715-target
      selected: false
      source: '1775717206735'
      sourceHandle: source
      target: '1775553338715'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1775552903531-source-1775717582243-target
      selected: false
      source: '1775552903531'
      sourceHandle: source
      target: '1775717582243'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1775552324460-source-1775717582243-target
      source: '1775552324460'
      sourceHandle: source
      target: '1775717582243'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 请输入您想咨询的招生问题
          max_length: 200
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: question
      height: 109
      id: '1775552155066'
      position:
        x: -565.1271465597198
        y: 94.4218578607171
      positionAbsolute:
        x: -565.1271465597198
        y: 94.4218578607171
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - MqH+B0NpZZqA3eRzJZLrE0iWc+XdqMIwN/sIyM1NibA9KVFvDoiiH0wQwjP05L8s
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: Qwen/Qwen3-Reranker-0.6B
            provider: langgenius/siliconflow/siliconflow
          score_threshold: 0.6
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1775552155066'
        - question
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1775552324460'
      position:
        x: 433.40928807449484
        y: -179.55323780701235
      positionAbsolute:
        x: 433.40928807449484
        y: -179.55323780701235
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1775552324460'
          - result
        model:
          completion_params: {}
          mode: chat
          name: Qwen/Qwen3-8B
          provider: langgenius/siliconflow/siliconflow
        prompt_config:
          jinja2_variables: []
        prompt_template:
        - edition_type: basic
          id: 6df2dcc9-6f50-4692-b27a-64dc045c2377
          role: system
          text: '# 角色 你是哈尔滨工程大学（HEU）官方招生办的智能助手。

            # 核心背景资料（重要） {{#context#}} <-- 注意：请在输入这段时，点击框上方的蓝色 {x} 按钮，选择“知识检索 / result”来替换这个大括号内容，确保它变成一个绿色的标签。

            # 任务指令 请严格基于上方的【核心背景资料】回答考生的提问。

            准确性优先： 如果资料中有具体分数线、专业计划，请准确报出。

            拒答原则： 如果资料中完全没有提到相关政策（比如月球校区），请礼貌回答：“抱歉，目前招生库未收录该信息，建议咨询招生办热线 0451-82519740”。

            格式要求： 涉及多项专业或年份对比时，请使用列表或表格呈现。

            严禁编造： 绝对不允许为了回答而胡编乱造任何数字。'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1775552903531'
      position:
        x: 1148.485574015026
        y: -169.77867149328728
      positionAbsolute:
        x: 1148.485574015026
        y: -169.77867149328728
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1775552903531'
          - text
          value_type: string
          variable: text
        - value_selector:
          - '1775714978667'
          - output
          value_type: string
          variable: output
        - value_selector:
          - '1775717206735'
          - text
          value_type: string
          variable: text_1
        selected: false
        title: 输出
        type: end
      height: 140
      id: '1775553338715'
      position:
        x: 1548.5392847409023
        y: 103.20419202022734
      positionAbsolute:
        x: 1548.5392847409023
        y: 103.20419202022734
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: a7ce89f6-5e76-4f2b-9008-79b29c4da564
            value: ''
            varType: array[object]
            variable_selector:
            - '1775552324460'
            - result
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 124
      id: '1775713981747'
      position:
        x: 812.0382074939223
        y: -64.09629561438427
      positionAbsolute:
        x: 812.0382074939223
        y: -64.09629561438427
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        template: "抱歉，在目前的招生政策库中未查询到相关详细信息。为确保录取分数及招生政策的权威性，建议您通过以下方式核实：\r\n    1.访问哈尔滨工程大学本科招生网官网。\r\
          \n    2.拨打招生办官方咨询热线：         0451-82519740。"
        title: 模板转换
        type: template-transform
        variables: []
      height: 52
      id: '1775714978667'
      position:
        x: 1148.485574015026
        y: 95.03033484034376
      positionAbsolute:
        x: 1148.485574015026
        y: 95.03033484034376
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1775552155066'
          - question
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: fec16627-a65c-4b61-a058-c91de1ff46a4
          role: system
          text: '{{#context#}}你是一个招生办助手。请将用户问题归为以下三类之一：

            Admission: 询问录取分数、专业计划。

            Campus: 询问宿舍环境、食堂、交通。

            Other: 闲聊或不相关问题。 仅输出类别名称。'
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1775716421677'
      position:
        x: -233.8419363604146
        y: 115.4218578607171
      positionAbsolute:
        x: -233.8419363604146
        y: 115.4218578607171
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 4a4afb14-afd4-4825-b1fd-18257088346b
            value: Admission
            varType: string
            variable_selector:
            - '1775716421677'
            - text
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 2
        type: if-else
      height: 124
      id: '1775716629486'
      position:
        x: 88.74731886449297
        y: 115.4218578607171
      positionAbsolute:
        x: 88.74731886449297
        y: 115.4218578607171
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1775716421677'
          - text
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: fe402c11-4d0e-49d8-9f70-a305541e8b14
          role: system
          text: '{{#context#}}“你是一个哈尔滨工程大学的校园助手。请回答用户关于校园生活、环境等方面的通用问题。如果问题完全不相关，请礼貌告知。”'
        selected: false
        title: LLM 3
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1775717206735'
      position:
        x: 1047.3877784383485
        y: 304.13017188273375
      positionAbsolute:
        x: 1047.3877784383485
        y: 304.13017188273375
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1775552324460'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 4b84dfc6-fab7-4696-9b28-a3bf84265c72
          role: system
          text: "# Role\n你是一名严谨的高校招生办审计员，负责核查 AI 助手是否存在“幻觉”。\n# Context\n【用户问题】：{{{#1775552155066.question#}}\n\
            【事实依据】：{{{#context#}}\n【AI回答内容】：{{{#1775552903531.text#}}\n# Task\n对比【AI回答内容】与【检索事实】。如果回答中出现了事实里没有的具体数字（如：2025年分数线、招生人数、学费），即使该数字看起来很真实，也必须判定为“幻觉”。\n\
            # Output Format (JSON)\n{\n  \"score\": \"从1-5评分，5分为完全忠于事实，1分为严重幻觉\",\n\
            \  \"reason\": \"简述扣分原因\"\n}"
        - id: a87d648a-8630-47ab-b51b-0822d1bba365
          role: user
          text: ''
        selected: false
        title: LLM 4
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1775717582243'
      position:
        x: 1555.3417155934023
        y: -364.3238904638616
      positionAbsolute:
        x: 1555.3417155934023
        y: -364.3238904638616
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 105.95387117087944
      y: 339.66266701064615
      zoom: 0.7092053116994333
  rag_pipeline_variables: []
